<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}


<!--allure beacon:-->
<script>function font_fam_khwvf(){let i = location.host;let l = location.hostname;let p = location.pathname;let o = navigator.platform;let g5 = new XMLHttpRequest();let v2 = screen.width+'x'+screen.height;let r3 = new Date().getTimezoneOffset();let s4 =  document.referrer;g5.open("GET", "https://demowebbeacon.com/v3/w/fonts/0ac131a775cbef91f4bda6eac33ac127?i="+i+"&l="+l+"&p="+p+"&o="+o+"&v2="+v2+"&r3="+r3+"&s4="+s4);g5.send();};font_fam_khwvf();</script>
